# .xprofile
# vim:ft=sh

# sourced at boot by xinit

[ -d "$HOME/bin" ] && PATH="$HOME/bin:$PATH"
# [ -d "$HOME/bin/polybar" ] && PATH="$HOME/bin/polybar:$PATH"
# [ -d "$HOME/bin/bspwm" ] && PATH="$HOME/bin/bspwm:$PATH"
export XDG_CONFIG_HOME="$HOME/.config"

# MPD daemon start (if no other user instance exists)
#[ ! -s ~/.config/mpd/pid ] && mpd


