* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Spleen";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* probably make this transparent like the above */
    background-color: #d0d0d0;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
    transition-property: background-color;
    transition-duration: .3s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.emacs {
    background-color: #666666;
    /* border: 1px transparent; */
}

window#waybar.alacritty {
    background-color: #606060;
    /* border: 1px transparent; */
}

window#waybar.firefox {
    background-color: #666666;
    /* border: 1px transparent; */
}

#tags button,
#workspaces button {
    background: none;
    border: 1px solid #d0d0d0;
    color: #64727D;
    padding: 0 4px;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 2px transparent; 
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button.occupied,
#workspaces button:hover {
    border: 1px solid #64727D;
    box-shadow: inset 0 2px #1d214f;
}

#tags button.focused,
#workspaces button.focused {
    background: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 0 7px;
    box-shadow: inset 0 2px #66cc99; 
}

#tags button.urgent,
#workspaces button.urgent {
    background: #eb4d4b;
    color: #ffffff;
    border: 1px solid #d0d0d0;
}

#mode {
    background-color: #64727D;
    border-bottom: 1px solid #000000;
}

#battery,
#custom-media,
#mode {
    padding: 0 7px;
    margin: 0 1px;
    color: #000000;
    /* box-shadow: inset -2px -2px #1d214f; */
    border: 1px solid #d0d0d0;
}


#window,
#workspaces,
#tags {
    margin: 0 8px;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*     margin-left: 4px; */
/* } */

/* If workspaces is the rightmost module, fucking hardcode right margin
.modules-right > widget:last-child > #workspaces {
    margin-right: 8px;
}
*/

#clock {
    margin-left: 10px;
    padding: 0 7px;
    border: 1px solid #d0d0d0;
    /* background: #1d214f; */
}

#battery {
    background: none;
    padding: 0 7px;
}

#battery.charging, #battery.plugged {
    color: #009933;
    /* background: none; */
    border: 1px solid #d0d0d0;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: #d0d0d0;
    }
}

#battery.critical:not(.charging) {
    background: none;
    color: #f53c3c;
/*    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

label:focus {
    background-color: #d0d0d0;
}
