.window-frame {
  box-shadow: none;
  margin: 0;
}

VteTerminal, vte-terminal {
padding: 5px;
}

*:not(.path-bar-button):not(.rubberband) {
	border: none;
}

.thunar * .path-bar-button:checked {
	border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #282828 100%, transparent 0%) 0 0 2/0 0 2px;
}


/* No (default) titlebar in kiwmi */
headerbar.titlebar.default-decoration {
    background: transparent;
    padding: 0;
    margin: 0 0 -17px 0;
    border: 0;
    min-height: 0;
    font-size: 0;
    box-shadow: none;
}

/* rm -rf window shadows */
window.csd decoration {
    box-shadow: none;
}
